<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<%= render 'shared/errors', obj: @article %>
			<%= form_with model: @article, local: true, class: 'shadow p-3 bg-primary rounded' do |f| %>
				<%= f.label :title, class: 'width-100' do %>
					<div class="form-group row">
						<div class="text-white col-md-2">Title</div>
						<div class="col-md-10"><%= f.text_field :title, class: 'form-control shadow-sm rounded', placeholder: 'Article title' %></div>
					</div>
				<% end %>

				<%= f.label :description, class: 'width-100' do %>
					<div class="form-group row">
						<div class="text-white col-md-2">Description</div>
						<div class="col-md-10"><%= f.text_area :description, rows: 10, class: 'form-control shadow-sm rounded', placeholder: 'Describe article' %></div>
					</div>
				<% end %>

				<%= f.label :category, class: 'width-100' do %>
					<div class="form-group row">
						<div class="text-white col-md-2">Categories</div>
						<div class="col-md-10 rounded shadow-sm">
						<%= f.collection_select :category_ids, Category.all,
							:id, :name,
							{ prompt: 'Make your selection from the list below (can be empty)' },
							{
								size: 10,
								class: 'custom-select',
								multiple: true,
							}
						%>
						</div>
					</div>
				<% end %>

				<div class="form-group text-center">
					<label class="btn-outline-light-animated", data-content="Submit">
						<%= f.submit '', style: 'display: none' %>
					</label>
				</div>
			<% end %>
		</div>
	</div>
</div>
