<h1 class="text-center">Article Listing Page</h1>
<%= link_to 'New Article', new_article_path %>

<div class="container-fluid">
	<div class="row">
		<% @articles.each do |x| %>
			<div class="col-md-3 p-2">
				<div class="card shadow-sm rounded">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<%= link_to x do %>
							<h5 class="card-title"><%= text_limit(x.title, 36) %></h5>
						<% end %>
						<pre class="card-text text-success"><em><%= text_limit(x.author, 36) %></em></pre>
						<p class="card-text"><%= text_limit(x.description, 50) %></p>

						<%= link_to '', x, class: 'btn-outline-primary-animated', 'data-content': 'View' %>
						<%= link_to '', edit_article_path(x), class: 'btn-outline-emerald-animated', 'data-content': 'Edit' %>
						<%= link_to '', x, method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn-outline-danger-animated', 'data-content': 'Delete' %>

						<div class="card-footer text-muted">
							Updated <%= x.updated_at.strftime("%d/%m/%y %H:%M") %>
							Updated <%= x.updated_at.to_i %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
