<div class="container-fluid">
	<div class="p-2">
		<div class="card shadow-sm rounded">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
				<div class="card-footer text-muted text-center">
					<h5><%= @article.title %></h5>
					<%= gravatar_for(@article.user, size: 60) %>
					<pre class="card-text text-success"><em>by <%= link_to "#{text_limit(@article.user.username, 36)}", @article.user, class: 'link' %></em></pre>
				</div>

				<div class="card-text"><%= simple_format @article.description %></div>

				<%= link_to '', @article, class: 'btn-outline-primary-animated', 'data-content': 'View' %>

				<% if current_user && (@article.user == current_user || current_user.admin?) %>
					<%= link_to '', edit_article_path(@article), class: 'btn-outline-emerald-animated', 'data-content': 'Edit' %>
					<%= link_to '', @article, method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn-outline-danger-animated', 'data-content': 'Delete' %>
				<% end %>
				<hr>

				<div>
					Updated <%= @article.updated_at.strftime("%d/%m/%y %H:%M") %>
					Updated <%= @article.updated_at.to_i %>
				</div>
			</div>

			<div>
				<%= link_to '', articles_path, class: 'btn-outline-warning-animated', 'data-content': 'Back' %>
				<%= link_to '', new_article_path, class: 'btn-outline-info-animated', 'data-content': 'New Article' %>
			</div>
		</div>
	</div>
</div>
