
<div class="container-fluid">
	<% @article.tap do |x| %>
		<div class="p-2">
			<div class="card shadow-sm rounded">
				<img class="card-img-top" src="..." alt="Card image cap">
				<div class="card-body">
					<div class="card-footer text-muted text-center">
						<h5><%= @article.title %></h5>
						<pre class="card-text text-success">by <em><%= x.user.username %></em></pre>
					</div>

					<div class="card-text"><%= simple_format x.description %></div>

					<%= link_to '', x, class: 'btn-outline-primary-animated', 'data-content': 'View' %>
					<%= link_to '', edit_article_path(x), class: 'btn-outline-emerald-animated', 'data-content': 'Edit' %>
					<%= link_to '', x, method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn-outline-danger-animated', 'data-content': 'Delete' %>

					<hr>
					<div>
						Updated <%= x.updated_at.strftime("%d/%m/%y %H:%M") %>
						Updated <%= x.updated_at.to_i %>
					</div>
				</div>
				<div>
					<%= link_to '', edit_article_path(@article), 'data-content': 'Edit', class: 'btn-outline-green-animated' %>
					<%= link_to '', article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete article #{@article.id}" }, 'data-content': 'Delete', class: 'btn-outline-danger-animated' %>
				</div>

				<div>
					<%= link_to '', articles_path, class: 'btn-outline-warning-animated', 'data-content': 'Back' %>
					<%= link_to '', new_article_path, class: 'btn-outline-info-animated', 'data-content': 'New Article' %>
				</div>
			</div>
		</div>
	<% end %>
</div>
